*
{
  
  padding:0;
  margin:0;
}

body 
{
  background-color:white;
  width:100%;
}

 .head-image img
 {
  width:100%;
  padding:0px;
   
 }



 .header ul
{

   display:inline-flex;
   margin-top:0px;
   background-color:#033D0B;
   width:100%;
   list-style-type:none;


   }
 

.header ul li
{
   margin-left:10px;
   margin:05px;
   padding:08px;
   margin-right:30px;

}
 .header ul li a
{   

  text-decoration:none;
  font-size:26px;
  color:white;
}
 
 .header ul li a:hover {
  color:green;
    border-radius:5px;
     }

.header .fa
{
   margin-right:8px;
}    
.subheader1
{
   display:none;
    
   
}
.header ul li:hover .subheader1 
{
   display:block;
   position:absolute;
   margin-top:0px;
   margin-left:-25px;
}
.header ul li:hover .subheader1 ul
{
  display:block;
  margin:10px;

}
.header ul li:hover .subheader1 ul li
{
  width:150px;
  padding:8px;
  border-bottom: 1px dotted #fff;
  background:transparent;
  border-radius:5px;
  text-align:left; 
}
.header ul li:hover .subheader1 ul li a
{
  font-size:20px;
}

.header ul li:hover .subheader1 ul li:last-child
{

  border-bottom:none;
}
.header ul li:hover .subheader1 ul li a:hover

{
   
  color:green;
}
.fa-angle-right
{
 float:right;
}
.subheader2
{
  display:none;
}
.hover-me:hover .subheader2
{
  position:absolute;
  display:block;
  margin-top:-35px;
  margin-left:155px;


}
.subheader3
{
  display:none;
}
.hover-me:hover .subheader3
{
  position:absolute;
  display:block;
  margin-top:-35px;
  margin-left:155px;


}

   

     /*----------corno-image image section---------------*/
   

   
.container1
 {
  width:100%;
  height:250px;
  border-bottom: 3px dotted gray;
  border-top: 3px dotted gray;
  margin-top:3px;
 }
 
 

 .slide-1,.slide-2,.slide-3
 {
  display: block;
  position: absolute;
  width:13%;
  height:223px;
  margin-top:8px;
  margin-left:20px;
  padding:5px;
  border-style:groove;

 }
  
  .slide-1
 {
  animation: fade1 10s infinite
 }
 .slide-2
 {
  animation: fade2 10s infinite
 }
 .slide-3
 {
  animation: fade3 10s infinite
 }
  @keyframes fade1
 {
  0%{opacity: 1;}
  25%{opacity: 0;}
  50%{opacity: 1;}
  75%{opacity: 0;}
  100%{opacity: 0;}
 }
@keyframes fade2
 {
  0%{opacity: 0;}
  25%{opacity: 1;}
  50%{opacity: 0;}
  75%{opacity: 0;}
  100%{opacity: 0;}
 }

 @keyframes fade3
 {
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 1;}
  75%{opacity: 0;}
  100%{opacity: 0;}
 }

 .slider-1,.slider-2,.slider-3,.slider-4
 {
  display: block;
  position: absolute;
  width:42%;
  margin:0 auto;
  height: 220px;
  margin-left:220px;
  margin-top:15px;
  border-style:groove;

 }
 .slider-1
 {
  animation: fade1 10s infinite
 }
 .slider-2
 {
  animation: fade2 10s infinite
 }
 .slider-3
 {
  animation: fade3 10s infinite
 }
.slider-4
{
   animation: fade4 10s infinite
}
 @keyframes fade1
 {
  0%{opacity: 1;}
  25%{opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 0;}
  100%{opacity: 1;}
 }
@keyframes fade2
 {
  0%{opacity: 0;}
  25%{opacity: 1;}
  50%{opacity: 0;}
  75%{opacity: 0;}
  100%{opacity: 0;}
 }

 @keyframes fade3
 {
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 1;}
  75%{opacity: 0;}
  100%{opacity: 0;}
 }
 @keyframes fade4
 {
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 1;}
  100%{opacity: 0;}
 }


     

    .monkey 
    {
      width:38%;
      margin-right:5px;
      margin-left:700px;
      margin-top:8px;
      height:220px;
      float: right;

    }
 


   /*--------Scrolling News Bar---------*/
   .ticker
   {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    height:50px;
    margin:0 auto;
   }
   .news
   {
    width:85%;
    background:#f54251;
    position:0 2%;
    
    }
.news h6
{
   margin-top:10px;
   font-size:20px;
   font-family:cursive;


}


.title
{
  width:15%;
  text-align:center;
  background:red;
  position:relative;
}
.title h3
{
  text-align:center;
  margin-top:13px;
  color:white;
  font-family:Georgia, serif;
  
}

    /*---------------------message--------------------*/
     
    .container2
    {
      margin-top:120px;
      width:100%;
      height:400px;
       
      
       
    }

    .main
    {
      width:100%;
      min-height:380px;
      text-align:center;
      position: relative;
      cursor: pointer;  
    }

  .message
  {
    background:#fff;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom:0; 
    margin-left:100px;
    box-shadow: 0 5px 6px 0 rgba(0,123,255);
    z-index: 1;
    transition:transform .8s;

  }

  .message-logo
  {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background:#fff;
    border: 10px solid #007bff;

  }

  .message-logo img
  {
    width:100px;
    margin-top:5px;
    transition:transform 1s;
  }

  .message h4
  {
    height:35px;
    width: 80%;
    background:#fff;
    margin: 50px auto;
    position: relative;

  }

  .message h4::after
  {
    content:'';
    width: 40px;
    height: 30px;
    background:linear-gradient(to right,#fff,#007bff);
    position:absolute;
    right: -5px;
    top:-5px; 
    z-index: -1;
  }
  

  .message h4::before
  {
    content:'';
    width: 40px;
    height: 30px;
    background:linear-gradient(to right,#007bff,#fff);
    position:absolute;
    left: -5px;
    bottom:-5px; 
    z-index: -1;
  }

  .shadowone
  {
    height: 200px;
    width:80%;
    background:#fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px 6px -15px #007bff;
    transition:transform .8s;
  }

  .shadowtwo
  {
    height: 200px;
    width:64%;
    background:#fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
    
  }

  .main:hover .message
  {
    transform:translateY(-50px);
  }
  
  .main:hover .shadowone
  {
    transform:translateY(-25px);
  }
  
  .main:hover img
  {
    transform:rotate(360deg);
  }
  
   

    .main-1
    {
      width:100%;
      min-height:380px;
      text-align:center;
      position: relative;
      cursor: pointer;  
    }

  .message-1
  {
    background:#fff;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom:380px; 
    margin-left:480px;
    box-shadow: 0 5px 6px 0 rgba(0,123,255);
    z-index: 1;
    transition:transform .8s;

  }

  .message-logo-1
  {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background:#fff;
    border: 10px solid #007bff;

  }

  .message-logo-1 img
  {
    width:100px;
    margin-top:5px;
    transition:transform 1s;
  }

  .message-1 h4
  {
    height:35px;
    width: 80%;
    background:#fff;
    margin: 50px auto;
    position: relative;

  }

  .message-1 h4::after
  {
    content:'';
    width: 40px;
    height: 30px;
    background:linear-gradient(to right,#fff,#007bff);
    position:absolute;
    right: -5px;
    top:-5px; 
    z-index: -1;
  }
  

  .message-1 h4::before
  {
    content:'';
    width: 40px;
    height: 30px;
    background:linear-gradient(to right,#007bff,#fff);
    position:absolute;
    left: -5px;
    bottom:-5px; 
    z-index: -1;
  }

  .shadowone-1
  {
    height: 200px;
    width:80%;
    background:#fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px 6px -15px #007bff;
    transition:transform .8s;
  }

  .shadowtwo-1
  {
    height: 200px;
    width:64%;
    background:#fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
    
  }

  .main-1:hover .message-1
  {
    transform:translateY(-50px);
  }
  
  .main-1:hover .shadowone-1
  {
    transform:translateY(-25px);
  }
  
  .main-1:hover img
  {
    transform:rotate(360deg);
  }


    .main-2
    {
      width:100%;
      min-height:380px;
      text-align:center;
      position: relative;
      cursor: pointer;  
    }

  .message-2
  {
    background:#fff;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom:760px; 
    margin-left:850px;
    box-shadow: 0 5px 6px 0 rgba(0,123,255);
    z-index: 1;
    transition:transform .8s;

  }

  .message-logo-2
  {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background:#fff;
    border: 10px solid #007bff;

  }

  .message-logo-2 img
  {
    width:100px;
    margin-top:5px;
    transition:transform 1s;
  }

  .message-2 h4
  {
    height:35px;
    width: 80%;
    background:#fff;
    margin: 50px auto;
    position: relative;

  }

  .message-2 h4::after
  {
    content:'';
    width: 40px;
    height: 30px;
    background:linear-gradient(to right,#fff,#007bff);
    position:absolute;
    right: -5px;
    top:-5px; 
    z-index: -1;
  }
  

  .message-2 h4::before
  {
    content:'';
    width: 40px;
    height: 30px;
    background:linear-gradient(to right,#007bff,#fff);
    position:absolute;
    left: -5px;
    bottom:-5px; 
    z-index: -1;
  }

  .shadowone-2
  {
    height: 200px;
    width:80%;
    background:#fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px 6px -15px #007bff;
    transition:transform .8s;
  }

  .shadowtwo-2
  {
    height: 200px;
    width:64%;
    background:#fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
    
  }

  .main-2:hover .message-2
  {
    transform:translateY(-50px);
  }
  
  .main-2:hover .shadowone-2
  {
    transform:translateY(-25px);
  }
  
  .main-2:hover img
  {
    transform:rotate(360deg);
  }
  
        /*----------------today covid-----------------------------*/
        

   .container3
        {
          position:relative;
          width: 1100px;
          display:flex;
          justify-content: center;
          align-items:center;
          flex-wrap:wrap;
          padding:30px; 
          margin-left:30px; 
    }

    
    .container3 .card
    {

      position: relative;
      max-width:300px;
      height: 215px;
      background:#fff;
      margin:30px 10px;
      padding: 20px 15px;
      display: flex;
      flex-direction:column;
      box-shadow: 0 5px  202px rgba(0,0,0,0.5);
      transition: 0.3s ease-in-out;
    }
    .container3 .card:hover
    {
      height:420px; 
    }
    .container3 .card .imgbx
    {
      position: relative;
      width: 260px;
      height:260px; 
       
      z-index: 1;
       
    }

    .container3 .card .imgbx img
    {
      max-width: 100%;
      border-radius: 4px;
    }

    .container3 .card .content
    {
      position: relative;
      margin-top: -140px;
      padding: 10px 15px;
      text-align: center;
      color: #111;
      visibility: hidden;
      opacity: 0;  
      transition:0.3s ease-in-out;

    }

   .container3 .card:hover .content
   {
       visibility: visible;
      opacity: 1;
      margin-top: -40px;
      transition-delay: 0.3s; 
   }

    
   




    /*-------------table-------------------*/
      
     .table
     {
      margin-top:500px;
     }


    .table-box
    {
      margin:50px auto;
    }

    .table-row
    {

      display:table;
      width:65%;
      margin: 10px auto;
      font-family: sans-serif;
      background:transparent;
      padding: 2px 0;
      color: #555;
      font-size:15px;
      box-shadow: 0 1px 4px 0 ;
    }
    
    .table-cell
    {
      display:table-cell;
      width: 15%;
      text-align:center;
      padding: 2px 0;
      border-right: 1px solid #d6d4d4;
      vertical-align: middle;
      font-weight:300;
      
    }

    .table-head
    {
      background: #8565f7;
      box-shadow: none
      color: #fff;
      font-weight:600;
    }

    .table-head .table-cell
    {
      border-right: none;

  }
    .last-cell
    {

      border-right:none;
    }


  /*----------------fun corono---------------*/
  .part
  {
    width:100%;
    min-height:600px;  
    display: flex;
    justify-content: center;
    align-items:center;
    background: #251801;
    cursor:url('images/Corona2.png'),auto;

  }
  .container4
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 120vh;
    width: 100%;

  }

   .container4 .face
   {
    position: relative;
    width:300px;
    height:300px;
    border-radius: 50%;
    background: #ffcd00;
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 0 20px;  
   }

  .container4 .face:hover
  {
    background: linear-gradient(180deg, #f44336, #f44336, #ffcd00);
  }

  .container4 .face:before
  {
    content: '';
    position: absolute;
    top:180px; 
    width:150px;
    height:70px;
    border-bottom-left-radius:70px;
    border-bottom-right-radius:70px;
    background:#b57700;
    transition: 0.5s;  
  }

   .container4 .face:hover:before
   {
    top: 210px;
    width:150px;
    height:20px;  
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    background: #9d0b00;

   }
  
  .container4 .face .eyes
  {
    position: relative;
    top:-40px;
    display: flex;
    flex-wrap: wrap;
  }

  .container4 .face .eyes .eye

  {
   
   position: relative;
   width: 80px;
   height:80px;
   display: block;
   margin: 0 15px;
   background: #fff;
   border-radius: 50%;


  }
  
  .container4 .face .eyes .eye:before
  {
   content:'';
   position:absolute;
   top: 50%;
   left: 25px;
   transform: translate(-50%,-50%);
   width: 40px;
   height: 40px;
   background: #333;
   border-radius: 50%; 

  }

   .container4 h2
   {
    position: absolute;
    top:75px;
    font-size: 3em;
    color: #fff;

   }

     .container4 h2:last-child
   {
    position: absolute;
    top:initial;
    bottom:75px; 
    font-size: 3em;
    color: #fff;

   }



 /*-----------------Prevention img---------------------*/



  .Prevention 
  {
    width:50%
    height:250px;
    margin-top:70px;
    margin-left:18%; 
  }

     .handwash
     {
      width:80%;
      height:200px;
      margin-left:10%;   
     }


/*-------------------footer-------------------*/

 .footer
 {
  background-color:#033D0B;
  width:100%;
  height:auto;
  clear: both;
  background:#272727;
 
  
 }
.footer-icons
{
  width:100%;
  height: auto;
  margin: auto; 
}
.footer-icons ul
{
  margin:0px;
  padding:0px;
 text-align: center;
}

.footer-icons ul li
{
  display: inline-block;
  width: 50px;
  height:50px;
  margin: 10px 10px; 
  border-radius: 100%;
  background: #32cd32;
}
.footer-icons ul li a
{
  color: #272727;
  font-size: 25px;
}
.footer-icons ul li a i
{

line-height: 50px;

}
.footer-myname
{
  width: 100%;
  height:auto;
   
  background: #32cd32;
   
}
.footer-myname p
{
  font-family:Times New Roman Georgia;
  font-size: 15px;
  text-align: center;
  color: #fff;
  font-weight: 600px;
  letter-spacing: 3px;
  padding: 10px;
}









